<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="2">
	<parameter name="browser" value="chrome" />
	<test name="Run multiple tests">

		<groups>
			<run>
				<include name="brinjal" />
				<include name="ladysfinger" />

			</run>
		</groups>

		<classes>

			<class name="seleniumAdv.HandlingDependencies" />
			<!-- <class name="selenium.OpenFacebook"/> <class name="selenium.OpenOpera"/> -->


		</classes>
	</test>
</suite>